@model OnlinePizzaWebApplication.Models.Reviews

@{
    ViewData["Title"] = "Review Details";
}

<h2>Review Details</h2>

<div class="form-horizontal">
    <h4>Reviews</h4>
    <hr />

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Title)</label>
        <div class="col-sm-10 col-form-label">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Description)</label>
        <div class="col-sm-10 col-form-label">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Grade)</label>
        <div class="col-sm-10 col-form-label">
            @Html.DisplayFor(model => model.Grade)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Date)</label>
        <div class="col-sm-10 col-form-label">
            @Html.DisplayFor(model => model.Date)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pizza</label>
        <div class="col-sm-10 col-form-label">
            @Html.DisplayFor(model => model.Pizza.Name)
        </div>
    </div>
</div>

<div class="form-group mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
</div>
