<h3>Customer Reviews</h3>

<p>
    <a asp-action="CreateWithPizza" asp-controller="Reviews" asp-route-pizzaId="@Model.Id" class="btn btn-success">Create New Review</a>
</p>

@if (ViewBag.Reviews != null && ((List<Reviews>)ViewBag.Reviews).Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Grade</th>
                <th>Date</th>
                <th>Pizza</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Reviews>)ViewBag.Reviews)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Grade</td>
                    <td>@item.Date.ToString("dd/MM/yyyy")</td>
                    <td>@item.Pizza.Name</td>
                    <td>@item.User?.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No reviews found for this pizza.</p>
}
